// theme color
// dark black for text
$clr-1: #2e2b2b;
// strong grey for background
$clr-2: #e5e5e5;
// light grey for card
$clr-3: #f5f0f0;
// accent color for button and title
$clr-4: #1abc9c;
// base color for background
$clr-5: #ffffff;

//main section height
$header_height: 43px;

$footer_height: 160px;

//spacer
$spacer: 10px;
