
// theme color 
// dark black for text
$clr-1: #2E2B2B; 
// strong grey for background
$clr-2: #E5E5E5;
// light grey for card
$clr-3: #f5f0f0;
// accent color for button and title
$clr-4: #1ABC9C;
// base color for background
$clr-5: #ffffff;

//main section height
$header_height: 43px;

$footer_height: 160px;

//spacer
$spacer: 10px;