*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: #2e2b2b;
}

.products {
  margin-bottom: 100px;
}

.home-details,
.product-details,
.cart-details,
.confirmation-details {
  min-height: calc( 100vh - 2.5rem - 10rem );
}

.confirmation-details,
.cart-details,
.product-details,
.home-details {
  max-width: 1150px;
  margin: 0 auto;
}

html {
  font-family: "roboto", sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #2e2b2b;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  color: #1abc9c;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  line-height: 2.5rem;
  letter-spacing: 0.03em;
  padding: 10px 0;
}

h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  #page__cart figcaption h2 {
    font-size: 1.5rem;
    color: #1abc9c;
    font-weight: normal;
    font-style: normal;
    line-height: 2rem;
    letter-spacing: 0.03em;
  }
}
#page__cart h4 {
  font-size: 2rem;
  color: #1abc9c;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  line-height: 2rem;
  letter-spacing: 0.03em;
  padding: 10px 0;
}

h3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.header__logo {
  font-family: "times new roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #2e2b2b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 2.5rem;
  margin-bottom: 60px;
}

.header__logo {
  order: 0;
  padding: 20px;
}
.header__nav__search {
  order: 1;
  padding: 10px;
  flex-grow: 2;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .header__nav__search {
    flex: 5;
    padding-right: 20px;
  }
}
.header__nav {
  order: 1;
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .header__nav {
    flex: 0 0 auto;
  }
}

.header__nav__button--connecter__text, .header__nav__button--cart__text {
  display: none;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .header__nav__button--connecter__text, .header__nav__button--cart__text {
    display: initial;
  }
}
.header__nav__button--connecter__icon, .header__nav__button--cart__icon {
  margin-right: 20px;
  color: #1abc9c;
}
.header__nav__button--connecter {
  display: none;
}

.previous__btn {
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 30px;
  padding-left: 10px;
  transition: transform 200ms ease-in-out;
}
.previous__btn:hover {
  transform: scale(1.2);
}

.product-details__add-btn {
  cursor: pointer;
  border: solid 1px #1abc9c;
  padding: 10px 15px;
  background: transparent;
  color: #2e2b2b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-top: 30px;
}
.product-details__add-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1abc9c;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.product-details__add-btn:hover::before {
  opacity: 0.3;
}
.product-details__add-btn:hover span {
  color: black;
}

.product__quantity {
  margin: 10px 0px;
}

.hero__btn a {
  color: #ffffff;
}

.returnBtn,
.subtotal__btn,
.product__delete {
  cursor: pointer;
  border: solid 1px #1abc9c;
  padding: 10px 15px;
  background: transparent;
  color: #2e2b2b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.returnBtn::before,
.subtotal__btn::before,
.product__delete::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1abc9c;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.returnBtn:hover::before,
.subtotal__btn:hover::before,
.product__delete:hover::before {
  opacity: 0.3;
}
.returnBtn:hover span,
.subtotal__btn:hover span,
.product__delete:hover span {
  color: black;
}

.header__nav__button--cart__text {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.header__nav__button--cart__text:hover {
  color: #1abc9c;
}

footer {
  height: 10rem;
  background: #2e2b2b;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
}
footer a {
  color: #ffffff;
}

.hero {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
  }
}
.hero__title p {
  line-height: 2rem;
  letter-spacing: 0.1em;
}
.hero__title {
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 30px 30px;
    width: 420px;
  }
}
.hero__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    display: initial;
    margin-top: 30px;
  }
}
.hero__illustration {
  position: relative;
  background-color: #ffffff;
  width: 301px;
  height: 269px;
  margin: 50px auto;
  box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.25);
}
.hero__illustration__outside__title {
  padding: 5px;
}
.hero__illustration__middle {
  width: 243px;
  height: 189px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.hero__illustration__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 196.87px;
  height: 119.16px;
  background: #ffffff;
  border: 10px solid #000000;
  overflow: hidden;
}
.hero__illustration__inner__img {
  width: 100%;
  height: 100%;
  background-image: url("/images/vcam_5.jpg");
  background-size: cover;
}

.products {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #ffffff;
}
.products__subtitle {
  padding-left: 30px;
  font-size: 25px;
  color: #1abc9c;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
  line-height: 37px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .products__card {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}

.products__nav {
  display: flex;
}
.products__nav__breadcrumb {
  display: none;
}
@media screen and (min-width: 768px) {
  .products__nav__breadcrumb {
    display: inherit;
  }
}

.products__button--more {
  display: none;
}

.products__card__item {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 328.16px;
  margin: 70px 27px 30px 27px;
  background: #e5e5e5;
  pointer-events: auto;
}
.products__card__item__last {
  margin-right: auto;
}
.products__card__item__image img {
  width: 328.16px;
  height: 244.98px;
  object-fit: cover;
}
.products__card__item figcaption {
  background: #f5f0f0;
  padding: 0px 10px;
}

.products__card__notation {
  font-size: 10px;
  padding-bottom: 5px;
}

.products__card__price {
  padding-top: 16px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #1abc9c;
}

.break-flex {
  width: 100%;
  border: 0;
}
@media screen and (min-width: 1280px) {
  .break-flex {
    display: none;
  }
}

#page__product {
  background: #ffffff;
}

.previous__btn {
  margin: 20px 0;
}

.product {
  padding: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .product {
    display: flex;
  }
}
.product__image {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 600px;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .product__image {
    order: 1;
  }
}
@media screen and (min-width: 768px) {
  .product__caption {
    order: 2;
    padding-left: 10px;
  }
  .product__caption h1 {
    padding-top: 0;
  }
}

.gallery {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: initial;
    order: 0;
    flex-basis: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    flex-grow: initial;
  }
}
.gallery img {
  width: 90px;
  height: 63px;
  background-image: url("/images/vcam_2.jpg");
  background-size: cover;
  margin-right: 5px;
}

.option {
  padding: 10px;
}
.option label span {
  padding: 0 5px;
  margin-right: 5px;
  text-transform: capitalize;
}

.product-details__add-btn, .product-details__description {
  margin-left: 10px;
}
.product-details__description {
  padding: 30px 0;
}

.cart__subtotal {
  background: #ffffff;
  margin: 0 -20px;
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
.product__imgCart {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  height: 200px;
  width: 300px;
}

.line-separation {
  background: linear-gradient(90deg, rgba(229, 229, 229, 0.5) 0%, #e5e5e5 50%, rgba(229, 229, 229, 0.5) 100%);
  height: 1px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container-cart {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 10px;
  }
  .container-cart .cart__subtotal {
    text-align: left;
    color: #1abc9c;
    font-size: 23px;
    order: 1;
    margin: initial;
    padding: initial;
    text-transform: capitalize;
    background: #e5e5e5;
  }
  .container-cart .cart__subtotal__container {
    background: #e5e5e5;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .container-cart .cart {
    background: #ffffff;
    order: 0;
    background: #ffffff;
  }
  .container-cart .cart__title {
    padding-top: 5px;
  }
  .container-cart form {
    order: 2;
  }
}
.container-cart .cart {
  padding-left: 10px;
}

#qty {
  cursor: pointer;
}

#page__confirmation .hero {
  text-align: left;
}
@media screen and (min-width: 768px) {
  #page__confirmation .hero {
    display: initial;
  }
  #page__confirmation .hero__title {
    width: 100%;
    margin: 80px 0;
    background: #ffffff;
  }
  #page__confirmation .hero__title h1 {
    text-transform: initial;
    line-height: 55px;
    text-align: left;
  }
}

.form__id,
.form__adresse,
.form__consigne {
  margin-bottom: 60px;
}
.form__id div,
.form__adresse div,
.form__consigne div {
  margin-bottom: 20px;
  text-align: left;
}
.form__id label,
.form__adresse label,
.form__consigne label {
  display: block;
  color: #2e2b2b;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  padding-left: 10px;
}
.form__id input,
.form__adresse input,
.form__consigne input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 1.5rem;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

form button {
  cursor: pointer;
  border: solid 1px #1abc9c;
  padding: 10px 15px;
  background: transparent;
  color: #2e2b2b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin-bottom: 60px;
}

.toastMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  background: #1abc9c;
  font-weight: bold;
  text-transform: unset;
  color: white;
  padding: 10px;
  position: fixed;
  z-index: 200;
  top: 60px;
  right: 16px;
}

/*# sourceMappingURL=style.css.map */
