@use "../abstracts/variables";
@use "../abstracts/mixins";


// previous button set up
.previous__btn {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 30px;
    padding-left: variables.$spacer;
    transition: transform 200ms ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

//add to cart button
.product-details__add-btn {
    @include mixins.outline-btn(variables.$clr-4);
    @include mixins.outline-btn-over;
    margin-top: 3*variables.$spacer;
}

// quantity of product purchased in the cart
.product__quantity {
    margin: variables.$spacer 0px;
}

// button in confirmation page to return on the homepage
.hero__btn {
    a {
        color: variables.$clr-5;
    }
}

// delete product button, button to confirm the command
.returnBtn,
.subtotal__btn,
.product__delete {
    @include mixins.outline-btn(variables.$clr-4);
    @include mixins.outline-btn-over;
}

// panier button
.header__nav__button--cart__text {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
        color: variables.$clr-4;
    }
}
    