@use "../abstracts/variables";
@use "../abstracts/mixins";




// form in cart page
.form__id,
.form__adresse,
.form__consigne {
    div {
        margin-bottom: 2*variables.$spacer;
        text-align: left;
    }
    label {
        display: block;
        color: variables.$clr-1;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.13em;
        text-transform: capitalize;
        padding-left: variables.$spacer;
    }
    input {
        margin-top: variables.$spacer;
        padding: variables.$spacer;
        width: 100%;
        height: 1.5rem;
        border: 1px solid variables.$clr-2;
        box-sizing: border-box;
    }
    margin-bottom: 6*variables.$spacer;
}


// button back to homepage on confirmation page
form {
    button {
        @include mixins.outline-btn(variables.$clr-4);
        margin-bottom: 6*variables.$spacer;
    }
}
