@use "../abstracts/variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$clr-2;
}

a {
    text-decoration: none;
    color: variables.$clr-1;
}

main {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

// allow invisible breakline after 2 products cards elements in the flexbox row
hr {
    width: 100%;
    border: 0;
}
