@use "../abstracts/variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$clr-2;
}

a {
    text-decoration: none;
    color: variables.$clr-1;
}

// spacing with the footer on the homepage
.products {
    margin-bottom: 100px;
}

//fit the main section in the page regarding header and footer height
.home-details,
.product-details,
.cart-details,
.confirmation-details {
    min-height: calc(
        100vh - #{variables.$header_height} - #{variables.$footer_height}
    );
}

// limit the size of the main presentation on laptop screen
.confirmation-details,
.cart-details,
.product-details,
.home-details {
    max-width: 1150px;
    margin: 0 auto;
    // padding-left: 10px;
    // padding-right: 10px;
}
