@use "../abstracts/variables";
@use "../abstracts/mixins";

html {
    font-family: "roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: variables.$clr-1;
    font-size: 16px;
}

h1 {
    font-size: 1.9rem;
    color: variables.$clr-4;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    line-height: 2.5rem;
    letter-spacing: 0.03em;
    padding: variables.$spacer 0;
}

h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

#page__cart {
    figcaption h2 {
        @include mixins.breakpoint(tablet) {
            font-size: 1.5rem;
            color: variables.$clr-4;
            font-weight: normal;
            font-style: normal;
            line-height: 2rem;
            letter-spacing: 0.03em;
        }
    }
    h4 {
        //title formulaire
        font-size: 2rem;
        color: variables.$clr-4;
        font-weight: normal;
        font-style: normal;
        text-transform: capitalize;
        line-height: 2rem;
        letter-spacing: 0.03em;
        padding: variables.$spacer 0;
    }
}

h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.header__logo {
    @include mixins.breakpoint(tablet) {
        font-size: 2.5rem;
    }
    font-family: "times new roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: variables.$clr-1;
}
