@use "../abstracts/variables";
@use "../abstracts/mixins";

html {
    font-family: "roboto", sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: variables.$clr-1;
}

h1 {
    font-size: 33px;
    color: variables.$clr-4;
    font-weight: normal;
    font-style: normal;
    text-transform: capitalize;
    line-height: 37px;
    letter-spacing: 0.03em;
    padding: 20px 0;
}

h2 {
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

#page__cart {
    figcaption h2 {
        @include mixins.breakpoint(tablet) {
            font-size: 25px;
            color: variables.$clr-4;
            font-weight: normal;
            font-style: normal;
            line-height: 37px;
            letter-spacing: 0.03em;
        }
    }
    h4 {
        //title formulaire 
        font-size: 28px;
        color: variables.$clr-4;
        font-weight: normal;
        font-style: normal;
        text-transform: capitalize;
        line-height: 37px;
        letter-spacing: 0.03em;
        padding: 20px 0;
    }
}

h3 {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.header__logo {
    font-family: "times new roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: variables.$clr-1;
}
