@use "../abstracts/variables";
@use "../abstracts/mixins";

// subtotal summary positionning
.cart__subtotal {
    background: variables.$clr-5;
    margin: 0 -20px;
    padding: 10px 0;
    text-align: center;
}

// subtotal appearance
.subtotal {
    color: variables.$clr-4;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
}

//space between 2 cameras articles
.product {
    @include mixins.breakpoint(tablet) {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    &__imgCart {
        @include mixins.cardShadow;
        @include mixins.breakpoint(tablet) {
            height: 200px;
            width: 300px;
        }
        width: 100%;
        margin-top: 50px;
    }
}

// display camera information on the image side at laptop breakpoint
.productCart {
    @include mixins.breakpoint(laptop) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}



// position on the picture and camera information side the subtotal and form layout
.container-cart {
    @include mixins.breakpoint(tablet) {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-gap: 10px;
        .cart__subtotal {
            color: variables.$clr-4;
            font-size: 23px;
            order: 1;
            margin: initial;
            padding: initial;
            text-transform: capitalize;
            background: variables.$clr-2;
            &__container {
                background: variables.$clr-2;
                font-weight: bold;
                padding-top: 10px;
            }
        }
        .cart {
            background: variables.$clr-5;
            order: 0;
            background: variables.$clr-5;
            &__title {
                padding-top: 5px;
                padding-left: 10px;
            }
        }
        form {
            order: 2;
        }
    }
    .cart {
        padding-left: variables.$spacer;
        &__title {
            padding-left: 10px;
        }
    }
}

// select quantity react to the cursor
#qty {
    cursor: pointer;
}
