@use "../abstracts/mixins";
@use "../abstracts/variables";

#page__confirmation {
    .hero {
        @include mixins.breakpoint(tablet) {
            display: initial;
            &__title {
                width: 100%;
                margin: 80px 0;
                background: variables.$clr-5;
                h1 {
                    text-transform: initial;
                    line-height: 55px;
                    text-align: left;
                }
            }
        }
        text-align: left;
    }
    
}


