@use "../abstracts/variables";
@use "../abstracts/mixins";

// change background color for the page
#page__product {
    background: variables.$clr-5;
    // .header__nav__search__input {
    //     // change the color of the search bar
    //     border: solid 1px variables.$clr-4;
    // }
}

.previous__btn {
    margin: 20px 0;
}

// load main picture for the product
.product {
    @include mixins.breakpoint(tablet) {
        // change the layout for tablet to allow the aside pictures
        display: flex;
    }
    padding: variables.$spacer;
    margin: 0 auto;
    &__image {
        @include mixins.breakpoint(tablet) {
            order: 1;
        }
        @include mixins.cardShadow;
        // set the image size
        width: 600px;
        height: 400px;
        // background-image: url("/images/vcam_2.jpg");
        // background-size: cover;
    }
    &__caption {
        @include mixins.breakpoint(tablet) {
            order: 2;
            padding-left: 10px;
            h1 {
                padding-top: 0;
            }
        }
    }
}

// load pictures for the gallery thumbnail and set up
.gallery {
    @include mixins.breakpoint(tablet) {
        display: initial;
        order: 0;
        flex-basis: 0;
    }
    @include mixins.breakpoint(laptop) {
        flex-grow: initial;
    }
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    img {
        // set the image size
        width: 90px;
        height: 63px;
        background-image: url("/images/vcam_2.jpg");
        background-size: cover;
        margin-right: 5px;
    }
}

// price and stars notation set up, no need for OC project
// .product-details {
//     .products__card__price {
//         color: variables.$clr-1;
//         font-weight: bold;
//     }
//     .products__card__notation {
//         font-size: 16px;
//         padding: 15px 0;
//     }
// }

// lenses options to choose
.option {
    padding: variables.$spacer;
    label span{
        padding: 0 5px;
        margin-right: 5px;
        text-transform: capitalize;
    }
}

//positioning the product description text
.product-details {
    &__add-btn,
    &__description {
        @include mixins.breakpoint(tablet) {
        }
        margin-left: variables.$spacer;
    }
    &__description {
        padding: 30px 0;
    }
}
